.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
    align-items: start;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns h2 {
  font-size: 40px;
}

.columns.logos {
  margin-top: 80px;
  margin-bottom: 80px;
}

.columns.logos img {
  height: 118px;
  width: auto;
}
