.tabs {
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 23px;
  font-weight: 400;
}

.tabs .tabs-list {
  display: flex;
  gap: 50px;
  justify-content: center;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
  overflow-x: auto;
}

@media (width >= 600px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .tabs .tabs-list {
    font-size: 16px;
  }
}

.tabs .tabs-list button {
  flex: 0 0 max-content;
  margin: 0;
  border-radius: 0;
  padding: 0.5em;
  background-color: unset;
  color: initial;
  font-weight: bold;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
}

.tabs .tabs-list button p {
  margin: 0;
}


.tabs .tabs-list button[aria-selected='true'] {
  cursor: initial;
  text-decoration: underline;
}

.tabs .tabs-panel {
  margin-top: -1px;
  padding: 24px;
  overflow: auto;
  display: flex;
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}
