footer {
  background-color: #000000;
  font-size: 16px;
}

footer a:any-link {
  color: #fff;
  text-decoration: none;
}

footer .button-container a:any-link {
  background-color: unset;
  border: 2px solid #fff;
}

footer .footer > div {
  margin: auto;
  max-width: 1312px;
  padding: 40px 24px 24px;
}

footer .footer > div > .section:nth-child(1) {
  border-bottom: 1px solid #5c5f6b;
  padding-bottom: 50px;
}

footer .footer > div > .section:nth-child(1) > .default-content-wrapper {
  display: flex;
  justify-content: space-between;
}

footer .footer > div > .section:nth-child(1) > .default-content-wrapper > ul {
  display: flex;
  gap: 30px;
  width: 750px;
  font-weight: 500;
}

footer .footer > div > .section:nth-child(1) > .default-content-wrapper > ul > li > ul > li {
  margin-top: 20px;
  font-weight: 400;
}

footer .footer > div > .section:nth-child(2) ul {
  display: flex;
  font-size: 13px;
  color: #fff;
  margin-top: 100px;
}

footer .footer > div > .section:nth-child(2) ul > li {
  margin-right: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
